* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 230px;
  width: auto;
  max-width: 80%;
}